// runner template - kotlin.
fun identb(x: Boolean): Boolean = x
fun notb(x: Boolean): Boolean = (!x)
fun d(x: Double): Double = x
fun z(): Double = 0.0
fun one(): Double = 1.0
fun negone(): Double = -1.0
fun nan(): Double = Double.NaN
fun inf(): Double = Double.POSITIVE_INFINITY
fun ninf(): Double = Double.NEGATIVE_INFINITY
fun fmtb(v: Boolean): String = if (v) "true" else "false"
fun fmtf(v: Double): String {
    if (v.isNaN()) return "nan"
    if (v == Double.POSITIVE_INFINITY) return "inf"
    if (v == Double.NEGATIVE_INFINITY) return "-inf"
    return v.toString()
}

fun fmts(v: String): String = v

{{PREAMBLE}}

fun main() {
{{PROBES}}
}
