<?php
// runner template - php.
function identb($x) { return $x; }
function notb($x) { return (!$x); }
function d($x) { return (float)$x; }
function z() { return 0.0; }
function one() { return 1.0; }
function negone() { return -1.0; }
function nan() { return NAN; }
function inf() { return INF; }
function ninf() { return -INF; }
function fmtb($v) { return $v ? "true" : "false"; }
function fmtf($v) {
  if (is_nan($v)) return "nan";
  if ($v === INF) return "inf";
  if ($v === -INF) return "-inf";
  return (string)$v;
}
function fmts($v) { return (string)$v; }

{{PREAMBLE}}

{{PROBES}}
