# runner template - ruby.
def identb(x) = x
def notb(x) = (!x)
def d(x) = x.to_f
def z() = 0.0
def one() = 1.0
def negone() = -1.0
def nan() = Float::NAN
def inf() = Float::INFINITY
def ninf() = -Float::INFINITY
def fmtb(v) = (v ? "true" : "false")
def fmtf(v)
  return "nan" if v.nan?
  return "inf" if v == Float::INFINITY
  return "-inf" if v == -Float::INFINITY
  v.to_s
end
def fmts(v) = v.to_s

{{PREAMBLE}}

{{PROBES}}
